@model Itqan.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutRTLCpanel.cshtml";
}




@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<div class="alert alert-info">
        <h3>@ViewBag.Message</h3>
    </div>*@
    <table class="table container">
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <tr>
            <th class="col-md-2">الاسم</th>
            <td class="col-md-10">
                @Html.EditorFor(m => m.Firstname, new { htmlAttributes = new { @class = "form-control form-control-user", id = "exampleFirstName", placeholder = "First Name" } })
            </td>
        </tr>
        <tr>
            <th class="col-md-2">اللقب</th>
            <td class="col-md-10">
                @Html.EditorFor(m => m.Lastname, new { htmlAttributes = new { @class = "form-control form-control-user", id = "exampleLastName", placeholder = "Last Name" } })
            </td>
        </tr>
        <tr>
            <th class="col-md-2">البريد الالكتروني</th>
            <td class="col-md-10">
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control form-control-user", id = "exampleInputEmail", placeholder = "Email Address" } })
            </td>
        </tr>
        <tr>
            <th class="col-md-2">كلمة المرور</th>
            <td class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", id = "exampleInputPassword" })
            </td>
        </tr>
        <tr>
            <th class="col-md-2">تأكيد كلمة المرور</th>
            <td class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-user"})
            </td>
        </tr>
        <tr>
            <th class="col-md-2">@Html.LabelFor(model=>model.Roles)</th>
            <td class="col-md-10">

                @Html.DropDownList("Roles", null, htmlAttributes: new { @class = "form-control" })
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value=" إضافة" class="btn btn-primary" style="max-width:178px;" />
            </td>
        </tr>
    </table>


}



