@model Itqan.Models.Condition

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutRTLCpanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Condition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descreption_condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descreption_condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Define_Itqan.Name_Itqan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Define_Itqan.Name_Itqan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lang1.Name_lang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lang1.Name_lang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_register }) |
    @Html.ActionLink("Back to List", "Index")
</p>
