

@{
    ViewBag.Title = "About";

    //Layout = "~/Views/Shared/_LayoutRTL.cshtml";
    Layout = "~/Views/Shared/_LayoutSecondPages.cshtml";

    

}
@Html.Partial("_headerPart")

@Html.Partial("_Brife")
@Html.Partial("_VisionandMessage")
@Html.Partial("_WhyItqan")
<div class="clearfix"></div>

@Html.Partial("_Footer")
