
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_LayoutRTL.cshtml";
}

@Html.Partial("_headerPart")

<!--عرض الفديو-->
@Html.Partial("_Video")
@Html.Partial("_Qurain")

@Html.Partial("_course")
@Html.Partial("_About")
<div class="clearfix"></div>

@Html.Partial("_Footer")


