@model Itqan.Models.Links

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutCpanelRTL2.cshtml";
}


@using (Html.BeginForm("Edit", "Links", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger" id="error-div" style="display:none">
        <span id="view-err"></span>

    </div>
    <div class="form-horizontal form-label-left">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Link)
        @Html.HiddenFor(model => model.IMG_link)


        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                اللغة
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownList("Lang", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Lang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                المنصة
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownList("Defien_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Defien_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                الوصف
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.EditorFor(model => model.Descreption_Link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descreption_Link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                رابط الموقع
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.EditorFor(model => model.link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                الصور
                <span class="required">*</span>
            </label>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="file" name="upload" id="uploadIMG" class="form-control" />
                @Html.ValidationMessageFor(model => model.IMG_link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" id="save" class="btn btn-primary">تعديل</button>
                <a href="~/Links/Index" class="btn btn-primary">رجوع</a>

            </div>
        </div>
    </div>

}
@section scripts{
    <script>
        $(function () {
            $("#save").click(function () {
                //check if input is Empty
                // if ($("#uploadIMG").val() == "") {
                //    $("#error-div").fadeIn();
                //    $("#view-err").append("من فضلك اختر صورة ");
                //    return false;
                //}
                if ($("#uploadIMG").val() != "") {

                    //check if the Image extension is valid
                    var filename = document.getElementById("uploadIMG").value;
                    var ExtentionIMG = filename.substr(filename.lastIndexOf('.') + 1);
                    var ValidExtention = ['jpg', 'png', 'gif', 'bmp'];
                    if ($.inArray(ExtentionIMG, ValidExtention) == -1) {
                        $("#error-div").fadeIn();
                        $("#view-err").append("اختر صورة بامتداد png/bmp/jpg/gif ");
                        return false;
                    }
                    //check if the Images Size is valid (2mb)
                    var myfileSize = document.getElementById("uploadIMG").files[0].size / 1024 / 1024;

                    if (myfileSize > 2) {
                        $("#error-div").fadeIn();
                        $("#view-err").append("رجاء اختر صورة حجمها اقل من  2 ميغا بايت");
                        return false;
                    }
                }
            });

        });
    </script>

}

