@model Itqan.Models.Card_Feture

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutCpanelRTL2.cshtml";
}


@using (Html.BeginForm("Create", "Card_Feture", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger text-center" id="error-div" style="display:none">
        <span id="view-err"></span>
    </div>
    <div class="form-horizontal form-label-left">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                اللغة
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownList("Lang", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Lang, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                المنصة
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownList("id_define", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_define, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                مزايا اتقان
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.EditorFor(model => model.Star_card, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Star_card, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                الصور
                <span class="required">*</span>
            </label>

            <div class="col-md-6 col-sm-6 col-xs-12">
                @*@Html.EditorFor(model => model.IMG, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="file" name="upload" id="uploadIMG" class="form-control" />
                @Html.ValidationMessageFor(model => model.ImageCard, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-primary">اضافة</button>
                <a href="~/Card_Feture/Index" class="btn btn-primary">رجوع</a>
            </div>
        </div>
    </div>

}


@section scripts{
    <script>
        $(function () {
            $("#save").click(function () {
                if ($("#uploadIMG").val() == "") {
                    $("#error-div").fadeIn();
                    $("#view-err").append("من فضلك اختر صورة ");
                    return false;
                }
            });

        });
    </script>

}
