@model IEnumerable<Itqan.Models.Define_Itqan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCpanelRTL2.cshtml";
}


   
        @using (Html.BeginForm())
        {
            <table class="table container text-center pb-5">
                <tr>
                    <th>
                        @Html.DropDownList("Lang", null, htmlAttributes: new { @class = "form-control" })
                    </th>
                    <th class="col-md-2">
                        <input type="submit" value="بحث" class="btn btn-primary" style="max-width:150px;" />
                    </th>
                    
                    <th class="col-md-4">
                        <a href="~/Define_Itqan/Create" class="btn btn-primary">إضافة</a>

                    </th>
                </tr>
            </table>


        }

<table class="table container">
 

@foreach (var item in Model) {
    <tr>
        <th class="col-md-1" style="text-align:right">الروية</th>
        <td class="col-md-11" style="text-align:center">
            @Html.DisplayFor(modelItem => item.Vision)
        </td>
        </tr>

        <tr>
         <th class="col-md-1" style="text-align:right">الرسالة</th>
        <td class="col-md-11" style="text-align:center">
            @Html.DisplayFor(modelItem => item.Message)
        </td>
            </tr>
        <tr>
            <th class="col-md-1" style="text-align:right">من نحن</th>
            <td class="col-md-11" style="text-align:center">
                @Html.DisplayFor(modelItem => item.Breife)
            </td>
        </tr>
        <tr>
           
        <td>
            
            @Html.ActionLink("تعديل", "Edit", new { id=item.ID }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
