@model Itqan.Models.Police

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCpanelRTL2.cshtml";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Police1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Police1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Define_Itqan.Name_Itqan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Define_Itqan.Name_Itqan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lang1.Name_lang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lang1.Name_lang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
