@model IEnumerable<Itqan.Models.App>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCpanelRTL2.cshtml";
}

    @using (Html.BeginForm())
    {
        <table class="table container text-center pb-5">
            <tr>
                <th>
                    @Html.DropDownList("Lang", null, htmlAttributes: new { @class = "form-control" })
                </th>
                <th class="col-md-1">
                    <input type="submit" value="بحث" class="btn btn-primary" style="max-width:150px;" />
                </th>
                <th class="col-md-4">
                    <a href="~/Apps/Create" class="btn btn-primary">إضافة</a>
                </th>

            </tr>
        </table>


    }

<table class="table container text-center">
    <tr>
        <th>التطبيق</th>
        <th>الوصف</th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name_App)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc_App)
        </td>
      
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id = item.ID_App }) |
            @Html.ActionLink("حذف", "Delete", new { id = item.ID_App })


            @*@Html.ActionLink("Details", "Details", new { id=item.ID_App }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.ID_App })*@
        </td>
    </tr>
}

</table>
